@font-face{
    font-family: Ningst;
    src: url(Ningst\ Lovely\ Teacher\ Font\ by\ 7Ntypes.otf);
}

@font-face{
    font-family: Poppins;
    src: url(Poppins-Regular.ttf);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Poppins;
    font-size: 10px;
}

header{
    background-color: rgb(0, 0, 0);
    padding: 7px 0;
    border-radius:0 0 50px 60px;
    text-align: center;
    width: 100%;
    z-index: 1;
    position: fixed;
    top: 0;
}

header img{
    width: 220px;
}
/*********THIS IS THE END OF THE HEADER*********/
/*********THIS IS THE END OF THE HEADER*********/
/*********THIS IS THE END OF THE HEADER*********/

main{
    position: relative;
    background: linear-gradient(to right, rgba(0,0,0,.6), rgba(0,0,0,.7)), url('IMAGES/library.jpg');
    width: 100%;
    min-height: 600px;
    background-repeat: no-repeat;
    object-position: center;
    background-size: cover;
}

.main-width{
    width: 80%;
    margin: 0 auto;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-content{
    background-color: #fff;
    padding: 90px;
    /* border-radius: 16% 44% 33% 97% / 48% 59% 131% 102%; */
    border-radius: 130px 170px 200px 230px;
    margin-top: 90px;
}

.main-content h2{
    font-family: Ningst;
    font-size: 7.3rem;
    text-align: center;
    line-height: 1.3;
}

.fun{
    background-color: rgb(247, 226, 105);
    padding: 0 20px;
    border-radius: 25px;
    border: 2px solid black;
}

.line1{
    width: 100%;
    height: 4px;
    background-color: black;
}
/********THIS IS THE END OF THE MAIN********/
/********THIS IS THE END OF THE MAIN********/
/********THIS IS THE END OF THE MAIN********/
.section-one{
    background: linear-gradient(to right, rgba(0,0,0,.2), rgba(0,0,0,.2)), url('IMAGES/blue.jpg');
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 70px 0;
}

.section-one-width{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.outer-one{
    width: calc(100% / 3);
    height: 300px;
    padding: 10px;
}

.child-one{
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 0 0 30px 30px;
    border: 4px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.child-one img{
    width: 100%;
    height: 150px;
}

.child-one-text{
    margin: 15px;
}

.child-one-text p{
    font-size: 1.7rem;
    font-weight: 600;
    margin-bottom: 5px;
}

.child-one-text a{
    font-size: 2.5rem;
    font-family: Ningst;
    line-height: 1.1;
    font-weight: 600;
    text-decoration: none;
    color: black;
    transition:all .3s ease-in;
}

.child-one-text a:hover{
    text-decoration: underline;
}